:root {
	--xs: 4px;
	--s: 8px;
	--m: 16px;
	--l: 32px;
	--xl: 48px;
	--xxl: 64px;

	--white: hsl(240, 100%, 99%);
	--black: hsl(198, 31%, 6%);

	--green-100: hsl(87, 53%, 65%);
	--green-200: hsl(91, 44%, 46%);
	--green-300: hsl(93, 61%, 34%);
	--green-400: hsl(95, 98%, 17%);
	--green-500: hsl(97, 97%, 13%);
	--green-600: hsl(98, 96%, 11%);

	--text-primary: var(--black);
	--text-secondary: var(--white);
}
