@import './base.css';

#app {
	width: 100%;
}

section {
	margin: 0 auto;
	max-width: 1280px;
}

body {
	background-color: var(--white);
	color: var(--text-primary);
	font-family: Helvetica;
	font-weight: normal;
	margin: 0;
}

.link {
	color: var(--green-500);

	&:hover {
		color: var(--green-400);
		text-decoration: underline;
	}

	&:visited {
		color: var(--green-300);
	}
}

a {
	color: unset;
	text-decoration: none;
}

h1 {
	font-size: 48px;
	margin-block: 0 var(--l);
	text-align: center;
}

h2 {
	font-size: 42px;
	margin-block: 0 var(--l);
	text-align: center;
}

h3 {
	font-size: 36px;
	margin-block: 0 var(--m);
	text-align: center;
}

h4 {
	font-size: 30px;
	margin-block: 0 var(--m);
	text-align: center;
}

p {
	font-size: 18px;
	margin-block: 0 var(--s);
}

@media (min-width: 1024px) {
	body {
		display: flex;
	}
}
